.acf-field[data-name="has_swoosh"],
.acf-field[data-name="rounded_images"] {
  padding-left: 40px!important;
}
.acf-field[data-name="rounded_images"] .acf-input,
.acf-field[data-name="has_swoosh"] .acf-input {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
}
.acf-field[data-name="flexible_content"] [data-name="bgcolor"],
.acf-field[data-name="flexible_content"] [data-name="textcolor"] {
  float: left;
  box-sizing: border-box;
  clear: none;
}
.acf-field[data-name="flexible_content"] [data-name="bgcolor"] {
  width: 25%;
}
.acf-field[data-name="flexible_content"] [data-name="textcolor"] {
  width: 75%;
}
.acf-field[data-name="flexible_content"] [data-layout="gallery_block"] [data-name="title_color"],
.acf-field[data-name="flexible_content"] [data-layout="gallery_block"] [data-name="bgcolor"] {
  float: left;
  box-sizing: border-box;
  clear: none;
}
.acf-field[data-name="flexible_content"] [data-layout="gallery_block"] [data-name="title_color"] {
  width: 25%;
}
.acf-field[data-name="flexible_content"] [data-layout="gallery_block"] [data-name="bgcolor"] {
  width: 75%;
}
[data-layout="heart_middle_section"] .acf-field-true-false[data-name="prepend_title"] {
  min-height: 60px!important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
[data-layout="heart_middle_section"] .acf-field-true-false[data-name="prepend_title"] .acf-label {
  position: absolute;
  left: 39px;
  top: 17px;
}
[data-layout="heart_middle_section"] .acf-field-wysiwyg[data-name="text"] .acf-label {
  display: none;
}
